@import "em-to-px";

::-moz-selection{
  background: rgba($primary, .25);
}
::selection {
  background: rgba($primary, .25);
}

body {
  font-size: 16px;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  text-align: left;
  margin: em(0);
  padding: em(0);
  font-family: 'Calibri', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color: $gray;
  line-height: 1.3;
  overflow-x: hidden;
  background-size: 100%;

}

a,
button {
  //outline: none !important;
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.container {
  padding: 0 em(12);
  max-width: 87%;

  .row {
    margin: 0 em(-12);

    [class^='col-'] {
      padding: 0 em(12);
    }

    &.no-gutters {
      margin: 0;

      [class^='col-'] {
        padding: 0;
      }
    }
  }
}

.container-fluid {
  padding: 0 em(12);

  .row {
    margin: 0 em(-12);

    [class^='col-'] {
      padding: 0 em(12);
    }

    &.no-gutters {
      margin: 0;

      [class^='col-'] {
        padding: 0;
      }
    }
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  pointer-events: none;
}

.overflow-hidden {
  overflow: hidden !important;
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.btn {
  position: relative;
  font-size: em(16);
  box-shadow: none;
  font-weight: normal;
  white-space: normal;
  padding: em(12) em(32);
  border-radius: em(50);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: left;

  .btn-icon {
    &.btn-icon-before {
      padding-left: 0;
      padding-right: em(10);
    }
  }

  &.btn-center {
    .btn-icon {
      padding-left: em(10);
    }
  }

  &.focus,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-sm {
  font-size: em(14);
  padding: em(10) em(24);
}

.btn-white {
  color: $gray;
  background: $white;
  border: 1px solid rgba($primary, 0.16);
  @include transitions();

  .btn-icon {
    padding-left: em(10);
    padding-right: 0;
    @include transitions(0.5s, transform);

    &.btn-icon-before {
      padding-left: 0;
      padding-right: em(10);
    }
  }

  &:hover {
    color: $white;
    background-color: $primary;

    .btn-icon:not(.btn-icon-before) {
      transform: translateX(em(12));
    }
  }

  &:focus,
  &:hover {
    text-decoration: none;
    outline: none;
    box-shadow: none;
  }
}

.btn-transparent {
  color: $gray;
  background: transparent;
  border: 1px solid rgba($primary, 0.16);
  @include transitions();

  .btn-icon {
    padding-left: em(10);
    padding-right: 0;
    @include transitions(0.5s, transform);

    &.btn-icon-before {
      padding-right: em(10);
    }
  }

  &:hover {
    color: $white;
    background-color: $primary;

    .btn-icon:not(.btn-icon-before) {
      transform: translateX(em(12));
    }
  }
}

.btn-link {
  color: $gray;
  border: 0;
  @include transitions();

  .btn-icon {
    padding-left: em(10);
    padding-right: 0;
    @include transitions(0.5s, transform);
  }

  &:focus,
  &:hover {
    text-decoration: none;
    outline: none;
    box-shadow: none;

    .btn-icon:not(.btn-icon-before) {
      transform: translateX(em(12));
    }
  }
}

.btn-link-primary {
  color: $primary;
  border: 0;
  @include transitions();

  .btn-icon {
    padding-left: em(10);
    @include transitions(0.5s, transform);
  }

  &:focus,
  &:hover {
    text-decoration: none;
    outline: none;
    box-shadow: none;

    .btn-icon:not(.btn-icon-before) {
      transform: translateX(em(12));
    }
  }
}

.btn-underline {
  color: $gray;
  border: 0;
  padding: 0;
  @include transitions();

  .btn-icon {
    padding-left: em(10);
    padding-right: 0;
    @include transitions(0.5s, transform);
  }

  &:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background: $gray;
  }

  &:focus,
  &:hover {
    text-decoration: none;
    outline: none;
    box-shadow: none;

    .btn-icon:not(.btn-icon-before) {
      transform: translateX(em(12));
    }
  }
}

.btn-primary {
  position: relative;
  color: $white;
  border: 1px solid $primary;
  background-color: $primary;
  @include transitions();
  .btn-icon {
    padding-left: em(10);
    @include transitions(0.5s, transform);

    &.btn-icon-before {
      padding-right: em(10);
    }
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $primary;
    color: $primary;
    background-color: $white;
    box-shadow: none;
    outline: none;
    .btn-icon:not(.btn-icon-before) {
      transform: translateX(em(12));
    }
  }
}

.btn-outline-primary {
  color: $primary;
  border: 1px solid $primary;
  background-color: transparent;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $primary;
    box-shadow: none;
    outline: none;
  }
}

.text-transform-none {
  text-transform: none !important;
}

.form-group {
  &.has-error {
    .form-control {
      border-color: $danger;
    }
  }

  &.has-success {
    .form-control {
      border-color: $success;
    }
  }
}

i {
  font-style: normal;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

a:focus,
a:hover,
a {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  @include transitions();
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

button:focus,
button {
  outline: none;
  box-shadow: none;
}

.mw-fit-content {
  max-width: fit-content !important;
}

.mh-100vh {
  min-height: 100vh;
}

// Laptops large devices (desktops, 2400px and up)
@media (min-width: 2560px) {
  body {
    font-size: 20px;
  }
}

// Laptops large devices (desktops, 1900px and up)
@media (min-width: 1900px) {
  body {
    font-size: 18px;
  }
}

// Laptops large devices (desktops, 1600px and up)
@media (min-width: 1600px) and (max-width: 1899.98px) {
  body {
    font-size: 16px;
  }
}

// Laptops large devices (desktops, 1400px and up)
@media (min-width: 1400px) and (max-width: 1599.98px) {
  .container {
    padding: 0 em(12);
    max-width: 96%;

    .row {
      margin: 0 em(-12);

      [class^='col-'] {
        padding: 0 em(12);
      }

      &.no-gutters {
        margin: 0;

        [class^='col-'] {
          padding: 0;
        }
      }
    }
  }
}

// Laptops small devices (desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px) {
  body {
    font-size: 14px;
  }
  .container {
    padding: 0 em(12);

    .row {
      margin: 0 em(-12);

      [class^='col-'] {
        padding: 0 em(12);
      }

      &.no-gutters {
        margin: 0;

        [class^='col-'] {
          padding: 0;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

@media (min-width: 1980px) {
  body {
    font-size: 20px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 12px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    max-width: 100%;
    padding: 0 em(12);

    .row {
      margin: 0 em(-12);

      [class^='col-'] {
        padding: 0 em(12);
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding: 0 em(15);
    .row {
      margin: 0 em(-15);

      [class^='col-'] {
        padding: 0 em(15);
      }
    }
  }
}
